// Notifications settings


.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    padding-top: 2em;
}


.notifs-setting-line, .profile-line {
    padding: 1em 0 1em 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.notifs-setting-line {
    border-bottom: 1px solid #E0E0E0;
}

.label {
    font-size: 14px;
    line-height: 12px;
    color: #00897B;
}