// Notifications settings


.title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    padding-top: 2em;
}


.notifs-setting-line, .profile-line {
    padding: 1em 0 1em 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    justify-content: end;
}

.notifs-setting-line {
    border-bottom: 1px solid #E0E0E0;
}

.label {
    font-size: 15px;
    line-height: 10px;
    color: #00897B;
}