<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>

    <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name='log-out'></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="title">Notifications</div>
          </ion-col>
        </ion-row>
        <ion-row class="notifs-setting-line">
          <ion-col size="9">
            <div>Someone makes a guess</div>
          </ion-col>
          <ion-col size="3">
            <ion-toggle [(ngModel)]="booleanValue" (ionChange)="toggleChange($event)" class="ion-float-right"></ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row class="notifs-setting-line">
          <ion-col size="9">
            <div>New thumbnail posted</div>
          </ion-col>
          <ion-col size="3">
            <ion-toggle class="ion-float-right"></ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="title">Profile</div>
          </ion-col>
        </ion-row>

        <form [formGroup]="form">
          <ion-row class="profile-line">
            <ion-col>
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input
                  type="text"
                  formControlName="username"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Country</ion-label>
                <ion-select formControlName="country" interface="popover" name="country">
                  <ion-item *ngFor="let country of country_list">
                    <ion-select-option [value]="country">{{country}}</ion-select-option>
                  </ion-item>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">City</ion-label>
                <ion-input
                  type="text"
                  formControlName="city"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!form.get('username').valid && form.get('username').touched">
            <ion-col size-sm="6" offset-sm="3">
                <p>Username must be between 1 and 16 characters.</p>
              </ion-col>
          </ion-row>
        </form>

      </ion-grid>
    <ion-button (click)="onUpdateSettings()" [disabled]="!form?.valid" class="save-button" expand="block">
        <ion-spinner color="light" name="dots" *ngIf="isUpdating"></ion-spinner>
        <span *ngIf="!isUpdating">Save</span>
    </ion-button>
    <ion-row>
      <ion-col>
        <div class="title">Account</div>
      </ion-col>
    </ion-row>
    <ion-row class="notifs-setting-line">
      <ion-col>
        <ion-button (click)="onDeleteAccount(user._id)" color="danger" expand="block">
            <span>Delete my account</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
  
  