<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home/my-thumbnails"></ion-back-button>
        </ion-buttons>
    <ion-title>Guesses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container" *ngIf="thumbnail">
    <div class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers" [(leafletCenter)]="mapOptions.center"></div> 
  </div>
</ion-content>
