<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/all-thumbnails"></ion-back-button>
    </ion-buttons>
    <ion-title>Make a guess</ion-title>
    <ion-buttons slot="end" (click)="onValidate()">
      <ion-icon size="large" [name]="availableIcon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="!isLoading">
    <div class="leaflet-map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)" (click)="setButton()"></div>
    <ion-grid class="over">
      <ion-card class="thumbnail">
        <ion-card-header>
          <ion-row (click)="toggleClass()">
            <ion-col size="10.5" class="title">
              <ion-card-subtitle>{{ thumbnail.title }}</ion-card-subtitle>
            </ion-col>
            <ion-col size="1.5">
              <ion-icon size="large" [name]="buttonIcon"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <div class="container" [className]="myClass">
          <img class="thumbnailImg" src="{{thumbnail.img}}" />
        </div>
      </ion-card>   
    </ion-grid>
  </div>

</ion-content>
