<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/all-thumbnails"></ion-back-button>
    </ion-buttons>
    <ion-title>Make a guess</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center>
    <br>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div class="container" *ngIf="!isLoading">
    <div class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers" (leafletMapReady)="onMapReady($event)"></div>
    <ion-grid class="over">
      <ion-card class="thumbnail">
        <ion-card-header>
          <ion-row (click)="toggleClass()">
            <ion-col size="10.5" class="title">
              <ion-card-subtitle>{{ thumbnail.title }}</ion-card-subtitle>
            </ion-col>
            <ion-col size="1.5">
              <ion-icon size="large" [name]="buttonIcon"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <div class="container" [className]="myClass">
          <img class="thumbnailImg"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="/>
        </div>
      </ion-card>   
    </ion-grid>
  </div>

</ion-content>
