.container {
  position: relative;
}

.overtext{
  position: absolute;
  bottom: -10px;
  right: 6px;
  color: white;
}

.thumbnail_img {
	max-height: 300px;
}

ion-skeleton-text.wide {
  line-height: 18px;
}