<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/my-thumbnails"></ion-back-button>
    </ion-buttons>
    <ion-title>Create a thumbnail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- ... -->
    <form #createThumbnailForm="ngForm" (submit)="onSubmit(createThumbnailForm)">
               <!-- img input -->

                   
  <!-- picture button -->
    <div class="ion-padding" *ngIf="!picture">
      <ion-button (click)="takePicture()" expand="block"  class="ion-no-margin">
      <ion-spinner color="light" name="dots" *ngIf="isLoadingPicture" ></ion-spinner>
      <span *ngIf="!isLoadingPicture">Take picture</span>
      <ion-icon *ngIf="!isLoadingPicture" name="camera"></ion-icon>
    </ion-button>
    </div>
               
 <img *ngIf="picture" src="{{picture.url}}" />
 <ion-item lines="none" *ngIf="imgNotSet">
  <ion-text color='danger'>Image is required.</ion-text>
</ion-item>
   
          <!-- Title input -->
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input name="title" ngModel required type="text" #title="ngModel" ></ion-input>
    </ion-item>
         <!-- Error message displayed if the title is invalid -->
         <ion-item lines="none" *ngIf="title.invalid && title.touched">
          <ion-text color='danger'>Title is required.</ion-text>
        </ion-item>
    
  <!-- Submit button -->
    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="createThumbnailForm.invalid || !picture" class="ion-no-margin">
      <ion-spinner color="light" name="dots" *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Submit Thumbnail</span>
    </ion-button>
    </div>

    <!-- Error message displayed if the login failed -->
    <ion-text color='danger' *ngIf="loginError">Form is invalid.</ion-text>
    
  </form>
</ion-content>

