<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/my-thumbnails"></ion-back-button>
    </ion-buttons>
    <ion-title>Create a thumbnail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- ... -->
    <form #createThumbnailForm="ngForm" (submit)="onSubmit(createThumbnailForm)">
     <ion-button (click)="takePicture()">Take pictures</ion-button> 
    <img *ngIf="picture" src="{{picture.url}}" />
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input name="title" ngModel required type="text"></ion-input>
    </ion-item>
 
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Submit thumbnail</ion-button>
    </div>

  </form>
  <ion-text *ngIf="coords" >{{coords.longitude}}/</ion-text>
  <ion-text *ngIf="coords" >{{coords.latitude}}</ion-text>
</ion-content>

