<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Scores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngFor="let user of users | slice:0:10; let i=index">
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
        <h3 [(ngModel)]="user.username" ngDefaultControl><strong>{{ i+1 }}.</strong> {{ user.username }}</h3>
    </ion-label>
        <p [(ngModel)]="user.username" ngDefaultControl>{{ user.totalScore }} points</p>
  </ion-item>
</ion-content>