<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Scores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="location" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="city">
      <ion-label>City</ion-label>
    </ion-segment-button>
    <ion-segment-button value="country">
      <ion-label>Country</ion-label>
    </ion-segment-button>
    <ion-segment-button value="world">
        <ion-label>World</ion-label>
      </ion-segment-button>
    </ion-segment>

          <div *ngIf="location==='city' || location==='country'">
    <ion-item >
      <ion-label>Choose filters</ion-label>
      <ion-select  [(ngModel)]="input"  (ionChange)="filterUser($event)" interface="popover">
        <div *ngIf="location==='country'">
          <ion-item *ngFor="let country of countryList">
        <ion-select-option value="{{country}}">{{country}}</ion-select-option>
      </ion-item>
      </div>
      <div *ngIf="location==='city'">
        <ion-item *ngFor="let city of cityList">
          <ion-select-option value="{{city}}">{{city}}</ion-select-option>
        </ion-item> 
        </div>
      </ion-select>
    </ion-item>
          </div>

  <div *ngIf="contentLoaded">
    <ion-item *ngFor="let user of filteredUsers | slice:0:10; let i=index">
      <ion-label>
          <h3 [(ngModel)]="user.username" ngDefaultControl><strong>{{ i+1 }}.</strong> {{ user.username }}</h3>
      </ion-label>
          <p [(ngModel)]="user.username" ngDefaultControl>{{ user.totalScore }} points</p>
    </ion-item>
  </div>

  <div *ngIf="!contentLoaded">
      <ion-item *ngFor="let item of [].constructor(10)">
        <ion-avatar slot="start">
						<ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-label>
            <p>
                <ion-skeleton-text animated style="width: 75px"></ion-skeleton-text>
            </p>
      </ion-item>
    </div>
</ion-content>